.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(207.8deg, rgb(99, 1, 182) 100%, #6d1af7 5%); */
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 10px;
    text-align: center;
    align-self: center;
}
.header--title-h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2.6rem;
    color: #16499a;
    text-transform: uppercase;
} 
.header--title-p {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;
    color: #333;
}