.youtube--section-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    min-width: 320px;
    height: 100%;
    text-align: center;
    background: rgb(255, 255, 255);
    margin-top: 50px;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 10px;
    text-align: center;
    align-self: center;
}
.youtube-section--title-h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
} 
.youtube-section--title-p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #333;
}